@charset "ISO-8859-1";


:valid
{
	box-shadow: 0 0 2px 1px green;
}

:invalid
{
	box-shadow: 0 0 2px 1px red;
}
.center{
    margin:auto;
    float:none;  /* annule le float:left de bootstrap*/
}